In [2]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv("data/studentdata_clean.csv")
print(f"Original shape: {df.shape}\n")

# Performance Category
def categorize_performance(gpa):
    if gpa >= 3.5:
        return 'High_Achiever'
    elif gpa >= 2.5:
        return 'Average_Performer'
    else:
        return 'Struggling_Learner'

df['PerformanceCategory'] = df['GPA'].apply(categorize_performance)

# SUMMARY
print("FEATURE ENGINEERING COMPLETE")
output_path = "data/studentdata_featured.csv"
df.to_csv(output_path, index=False)
print(f"\n✓ Saved: {output_path}")

Original shape: (999997, 14)

FEATURE ENGINEERING COMPLETE

✓ Saved: data/studentdata_featured.csv

In [3]:
df.head()

,Age,Gender,SES_Quartile,ParentalEducation,SchoolType,TestScore_Math,TestScore_Reading,TestScore_Science,GPA,AttendanceRate,StudyHours,Extracurricular,PartTimeJob,ParentSupport,PerformanceCategory
0,15,Female,1,HS,Public,72.346053,62.217134,73.008079,2.521745,0.868836,0.310172,1,1,1,Average_Performer
1,16,Female,1,<HS,Private,77.889157,72.748030,76.303717,3.275626,0.909595,1.175586,1,0,0,Average_Performer
2,17,Female,2,HS,Public,72.966587,65.585472,68.099411,2.974137,0.870952,1.112556,1,0,0,Average_Performer
3,16,Female,2,HS,Public,96.674049,88.035852,100.000000,3.676590,1.000000,1.067679,0,0,0,High_Achiever
4,16,Male,3,Bachelors+,Public,81.989270,77.485372,72.715066,2.255014,0.897957,0.841936,1,0,1,Struggling_Learner

In [5]:
df.shape

(999997, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999997 entries, 0 to 999996
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Age                  999997 non-null  int64
 1   Gender               999997 non-null  object
 2   SES_Quartile         999997 non-null  int64
 3   ParentalEducation    999997 non-null  object
 4   SchoolType           999997 non-null  object
 5   TestScore_Math       999997 non-null  float64
 6   TestScore_Reading    999997 non-null  float64
 7   TestScore_Science    999997 non-null  float64
 8   GPA                  999997 non-null  float64
 9   AttendanceRate       999997 non-null  float64
 10  StudyHours           999997 non-null  float64
 11  Extracurricular      999997 non-null  int64
 12  PartTimeJob          999997 non-null  int64
 13  ParentSupport        999997 non-null  int64
 14  PerformanceCategory  999997 non-null  object
dtypes: float64(6), int64(5), object(4)
memory usage: 114.4+ MB