In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load data
df = pd.read_csv("data/studentdata_featured.csv")

# One-Hot Encoding
df = pd.get_dummies(df, columns=['Gender', 'SchoolType'], drop_first=True)

# Ordinal Encoding
df['ParentalEducation_Encoded'] = df['ParentalEducation'].map({
    '<HS': 1, 'HS': 2, 'SomeCollege': 3, 'Bachelors+': 4
})

# Label Encoding for targets
le1 = LabelEncoder()
df['PerformanceCategory_Encoded'] = le1.fit_transform(df['PerformanceCategory'])

le2 = LabelEncoder()
df['RiskLevel_Encoded'] = le2.fit_transform(df['RiskLevel'])

# Drop original columns
df = df.drop(columns=['ParentalEducation', 'PerformanceCategory', 
                      'RiskLevel'])

# Save
df.to_csv("data/studentdata_encoded.csv", index=False)
print("Saved to: data/studentdata_encoded.csv")
print(f"\nShape: {df.shape}")
print("\nTargets:")
print("  • PerformanceCategory_Encoded (Q1)")
print("  • RiskLevel_Encoded (Q3)")

Saved to: data/studentdata_encoded.csv

Shape: (999997, 30)

Targets:
  • PerformanceCategory_Encoded (Q1)
  • RiskLevel_Encoded (Q3)

In [4]:
df.head()

,Age,SES_Quartile,TestScore_Math,TestScore_Reading,TestScore_Science,GPA,AttendanceRate,StudyHours,PartTimeJob,ParentSupport,...,AtRisk,TestScore_StdDev,MathStrength,ReadingStrength,ScienceStrength,Gender_Male,SchoolType_Public,ParentalEducation_Encoded,PerformanceCategory_Encoded,RiskLevel_Encoded
0,15,1,72.346053,62.217134,73.008079,2.521745,0.868836,0.310172,1,1,...,0,6.048110,1,0,1,False,True,2,0,2
1,16,1,77.889157,72.748030,76.303717,3.275626,0.909595,1.175586,0,0,...,0,2.632734,1,0,1,False,False,1,0,2
2,17,2,72.966587,65.585472,68.099411,2.974137,0.870952,1.112556,0,0,...,0,3.752558,1,0,0,False,True,2,0,2
3,16,2,96.674049,88.035852,100.000000,3.676590,1.000000,1.067679,0,0,...,0,6.175506,1,0,1,False,True,2,1,1
4,16,3,81.989270,77.485372,72.715066,2.255014,0.897957,0.841936,0,1,...,1,4.637740,1,1,0,True,True,4,2,0